<!DOCTYPE html>
    <html>
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <!--<link rel="stylesheet" href="http://localhost/Login+Mvc/assets/css/style_cadastro.css">-->
        <link rel="stylesheet" href="../../assets/css/style_cadastro.css">
   
        </head>
        <body>
            
            <section class="conteiner_box2">
                <h3>Cadastre-se</h3>
                <form>
                    <input type="text" name="nome" placeholder="Nome">
                    <input type="email" name="email" placeholder="E-mail">
                    <input type="password" name="senha" placeholder="Senha">
    
                    <Button class="btn-login">Cadastrar</Button>
                </form>  
            </section>
             
        </body>
    </html>