<!DOCTYPE html>
    <html>
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="stylesheet" href="http://localhost/Login+Mvc/assets/css/style_dashboard.css">
   
        </head>
            <header>
                <div class="content_area">
                    Bem Vindo {{name_user}},

                    <a href="http://localhost/Login+Mvc/dashboard/logout">Sair</a>
                </div>
            </header>

            <section class="box_dashboard">
                <div class="content_area">
                    <h1>Dashboard</h1>
                </div>
            </section>
        </body>
    </html>