<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost/Login+Mvc/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Instagram</title>
</head>
<body>
    <div class="instagram-wrapper">
        <div class="instagram-continue">
            <div class="group">
                <img src="http://localhost/Login+Mvc/assets/img/instagram-logo.png" class="instagram-logo" alt="instagram logo">
                <form method="POST" action="http://localhost/Login+Mvc/login/check">
                    <input type="email" name='email' placeholder="E-mail">
                    <input type="password" name="password" placeholder="Senha">
    
                    <button class="btn-login">Entrar</button>
                    {%if error != '' %}
                        <sp1an class="msg_error">
                            <i class="fa fa-exclamation-triangle" style="font-size: 16px; color:#FF6d6d; padding-right:5px;"></i>
                            <p>Tentativa Inválida</p>
                        </span>
                    {% endif %}
                </form>
            </div>
            <div class="get-the-app">
                <p class="get-app">Baixe o aplicativo</p>
                <div class="download">
                    <a href="#" class="app-download"></a>
                    <a href="#" class="app-download"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>